html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto; /* Membuat konten utama fleksibel */
}

.footer {
  background-color: #282c34;
  padding: 20px 0;
  color: white;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section img {
  max-width: 100px;
}

.footer-section p {
  margin: 5px 0;
}

.social-media a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.social-media a:hover {
  text-decoration: underline;
}




/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Custom styles */
footer a {
  transition: color 0.3s ease;
}
