html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
}

.content {
  flex: 1 0 auto; /* Membuat konten utama fleksibel */
}

.footer {
  position: absolute; /* Tambahkan properti position absolute */
  bottom: 0; /* Atur posisi footer di bawah */
  width: 100%; /* Atur lebar footer */
  background-color: #282c34;
  padding: 20px 0;
  color: white;
  text-align: center;
  position: sticky;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section img {
  max-width: 100px;
}

.footer-section p {
  margin: 5px 0;
}

.social-media a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.social-media a:hover {
  text-decoration: underline;
}

